@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" style="color:white"a>Hello @User.Identity.GetUserName()</a>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        </li>
        <li><a style="color:white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a style="color:white" href="@Url.Action("Register","Account")"><span class="fa fa-user-plus"></span> Register</a></li>
        <li><a style="color:white" href="@Url.Action("Login","Account")"><span class="fa fa-user-circle"></span> Log In</a></li>
    </ul>
}
